@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --clr-background-darker: #d6d7da;
  --clr-background-darkest: rgb(185, 185, 185);
  --clr-background-dark: #f6f6f8;
  --clr-background-light: #ffffff;
  --border-radius-large: 2.5rem;
  --border-radius-medium: 1rem;
  --border-radius-small: 0.7rem;
  --flex-gap: 10px;
  --padding-large: 35px;
  --padding-small: 15px;
  --margin-large: 40px;
}

@media only screen and (max-width: 800px) {
  /* CSS styles for small devices */

  :root {
    --padding-large: 20px;
    --padding-small: 10px;
  }
}

@media only screen and (min-width: 800px) {
  /* CSS styles for small devices */

  :root {
    --padding-large: 35px;
    --padding-small: 15px;
  }
}

body {
  margin: 0;
  background-color: var(--clr-background-darker);
  display: flex;
  justify-content: center;
  font-family: "Roboto";
}

#loader {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.42);
}

input {
  border: none;
  padding: 0.6rem 2rem 0.6rem 2rem;
  flex: 1;
  background-color: var(--clr-background-dark);
  border-radius: var(--border-radius-small);
}

.flex-container-horizontal-end {
  display: flex;
  align-items: end;
  gap: var(--flex-gap);
}

.flex-container-horizontal-center {
  display: flex;
  align-items: center;
  gap: var(--flex-gap);
}

.flex-container-vertical {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
}

.vertically-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.divider {
  width: 100%;
  border: 1px solid var(--clr-background-dark);
}

.huge-text {
  font-size: 5rem;
  letter-spacing: -0.2rem;
  font-weight: 350;
  margin-top: 0 !important;
}

.big-text {
  font-size: 2.5rem;
  font-weight: 300;
}

.small-text {
  font-size: 0.8rem;
}

.sup {
  font-size: 3rem;
  margin-top: 0.5rem;
}

.bold {
  font-weight: 500;
}

.thin {
  font-weight: 300;
}

.grey {
  color: var(--clr-background-darkest);
}

.app {
  display: flex;
  flex: 1;
}

h1 {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: -10px;
}

h2 {
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--clr-background-darkest);
  margin-top: 0;
}

h3 {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: -0.3rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 800px) {
  /* CSS styles for small devices */

  .app {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .main-section,
  .detail-section {
    border-radius: 0;
  }

  .detail-section {
    max-width: 100vw;
  }

  .overflowx {
    max-width: calc(100vw - var(--padding-large)*1);
  }
}

@media only screen and (min-width: 800px) {
  .app {
    flex-wrap: nowrap;
    max-width: 800px;
  }
}

@media only screen and (min-width: 1250px) {
  /* CSS styles for small devices */
  .app {
    flex-wrap: nowrap;
    max-width: 1250px;
  }

  body {
    margin: var(--margin-large);
  }

  .main-section {
    border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
  }

  .detail-section {
    border-radius: 0 var(--border-radius-large) var(--border-radius-large) 0;
  }
}

.main-section {
  background-color: var(--clr-background-light);
  padding: var(--padding-large);
  display: flex;
  flex-direction: column;
  gap: var(--padding-large);
}

.search {
  width: 100%;
}

.current-weather {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--padding-small);
}

.current-weather_temperature {
  display: flex;
  align-items: start;
}

.current-weather_card {
  background-color: var(--clr-background-dark);
  border-radius: var(--border-radius-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--flex-gap);
  padding-right: var(--padding-large);
}

@media only screen and (max-width: 800px) {
  /* CSS styles for small devices */

  .current-weather_card {
    background-color: var(--clr-background-light);
  }
}

.current-weather_description,
.current-weather_percipitation {
  display: flex;
  align-items: center;
  gap: var(--flex-gap);
}

.detail-section {
  background-color: var(--clr-background-dark);
  flex: 1;
  padding: var(--padding-large) 0 var(--padding-large) var(--padding-large);
  display: flex;
  flex-direction: column;
  gap: var(--padding-large);
  overflow-x: auto;
}

.pr {
  padding-right: var(--padding-large);
}

.detail-section_header {
  display: flex;
  justify-content: flex-end;
  gap: var(--flex-gap);
}

.detail-section_weather-by-day_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: var(--flex-gap);
}

.overflowx {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: var(--padding-small);
  -ms-overflow-style: none;
  max-width: calc(100vw - var(--padding-large)*1);
}
.overflowx::-webkit-scrollbar {
  display: none;
}

.detail-section_weather-by-hour_cards {
  display: flex;
  width: 100%;
  gap: var(--flex-gap);
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  margin-right: 0;
  padding-right: 0;
}

.day-card, .hour-card {
  background-color: var(--clr-background-light);
  padding: var(--padding-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius-medium);
}

.hour-card {
  min-width: 95px;
  max-width: 200px;
}

.temp-btn {
  background-color: var(--clr-background-light);
  margin: 0;
  width: 15px;
  height: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  user-select: none;
  font-weight: 500;
  padding-right: 11px;
}

.temp-btn:hover {
  background-color: var(--clr-background-darker);
}

.temp-btn.active {
  background-color: black;
  color: white;
}

.highlight-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: calc(var(--flex-gap) * 2);
}

.highlight-card {
  background-color: var(--clr-background-light);
  padding: var(--padding-small);
  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
}
